{% extends 'edutools_base.html' %}
{% block content %}

{% if is_admin %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="nav justify-content-center nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'appointment' %}">Terminbuchung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_appointment' %}">Terminerstellung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment_admin' %}">Terminverwaltung</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}

  <div class="container mt-5">
    <h4>Terminbuchung zum Anmeldeverfahren</h4>
    <div class="alert alert-light">
      Wählen Sie zunächst ein Datum für Ihren Termin aus. Je nach Verfügbarkeit stehen bis zu vier parallele Termine für eine Uhrzeit zur Verfügung. Durch die Auswahl einer Uhrzeit gelangen Sie zum Buchungsformular für Ihren Termin.
    </div>
    {% for date in appointment_items %}
    <div class="accordion" id="appointment_{{ forloop.counter }}">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">
            {{ date.0|date:"D, d. M. Y" }}
          </button>
        </h2>
        <div id="collapse_{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#appointment_{{ forloop.counter }}">
          <div class="accordion-body">
            {% if not date.1 %}
            - Für diesen Tag sind keine Termine mehr verfügbar -
            {% endif %}
              {% for item in date.1 %}
              <a href="{% url 'book_appointment' item.id %}" class="btn btn-primary mb-2" type="button" style="width: 100px;">{{ item.time }}</a>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
{% endblock content %}
