{% extends 'edutools_base.html' %}
{% block content %}
<style>
  .print-only {
  display: none !important;
  }

  @media print {
    body {
      background-image: none;
    }
    body > * {
      display: none !important;
    }
    .printable,
    .print-only {
      display: block !important;
    }
    /* Hide all buttons when printing */
    button,
    .ms-auto {
      display: none !important;
    }   
  }
</style>

<div class="container">
  <button class="btn btn-primary" onclick="window.print()">Drucken</button>
</div>

<div class="container mt-5 pb-5 printable">
    <h4>Terminverwaltung</h4>
    <!-- <form method="post"> -->
      {% csrf_token %}
      
      <table class="table table-bordered" style="font-size: 12px;">
        <tbody>
            {% for appointment in appointments %}
              {% ifchanged appointment.time %}
                <tr>
              {% endifchanged %}
              <td>
                <div class="hstack" style="font-size: larger;">
                  <b>{{ appointment.time }}</b><br>
                  <div class="ms-auto"><a href="{% url 'edit_appointment' appointment.id %}"><i class="bi bi-pencil-square me-1"></i></a> <a href="{% url 'delete_appointment' appointment.id %}"><i class="bi bi-trash"></i></a></div>
                </div>
                {% if appointment.student_name %}
                  <b>Kind:</b> {{ appointment.student_name }}<br>
                  <b>Grundschule:</b> {{ appointment.primary_school }}<br>
                  <b>Erz.:</b> {{ appointment.parents_name }}<br>
                  <b>E-Mail:</b> {{ appointment.email }}
                {% endif %}
              </td>
            {% endfor %}
          
        </tbody>
      </table>
  </div>
{% endblock content %}
