{% extends 'edutools_base.html' %}
{% block content %}
<style>
  .print-only {
  display: none !important;
  }

  @media print {
    body {
      background-image: none;
    }
    body > * {
      display: none !important;
    }
    .printable,
    .print-only {
      display: block !important;
    }
    /* Hide all buttons when printing */
    button,
    .ms-auto {
      display: none !important;
    }   
  }
</style>

<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="nav justify-content-center nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'appointment' %}">Terminbuchung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_appointment' %}">Terminerstellung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'appointment_admin' %}">Terminverwaltung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment_email' %}">E-Mail</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <div class="hstack gap-3">
        <form>
          <select name="select" class="form-select" style="width: 500px;" onchange="this.form.submit()">
            {% if not dates %}
            <option selected>Terminauswahl</option>
            {% endif %}
            {% for date in dates %}
            <option value="{{ date|date:'c' }}" {% if date|date:'c' == current_date|date:'c' %} selected {% endif %}>{{ date|date:"l, d. F Y" }}</option>
            {% endfor %}
          </select>
        </form>
        <div class="vr"></div>
        <div>
          Gesamtzahl aller Buchungen: <b>{{ all_bookings_count }}</b>
        </div>
        <button class="btn btn-primary ms-auto" onclick="window.print()">Terminliste drucken</button>


      </div>
    </div>
  </div>
</div>

<div class="container mt-5 pb-5 printable">
    <h4>Terminübersicht für {{ current_date|date:'D, d.m.Y' }}</h4>
    <!-- <form method="post"> -->
      {% csrf_token %}
      
      <table class="table table-bordered" style="font-size: 12px;">
        <tbody>
            {% for appointment in appointments %}
              {% ifchanged appointment.time %}
                <tr>
              {% endifchanged %}
              <td>

                </div>
                {% if appointment.student_name %}
                  <div class="hstack" style="font-size: larger;">
                    <b>{{ appointment.time }}</b><br>
                    <div class="ms-auto"><a href="{% url 'edit_appointment' appointment.id %}"><i class="bi bi-pencil-square me-1"></i></a> <a href="{% url 'delete_appointment' appointment.id %}"><i class="bi bi-trash"></i></a></div>
                  </div>
                  <b>Kind:</b> {{ appointment.student_name }}<br>
                  <b>Grundschule:</b> {{ appointment.primary_school }}<br>
                  <b>Erz.:</b> {{ appointment.parents_name }}<br>
                  <b>E-Mail:</b> {{ appointment.email }}<br>
                  <b>Telefon:</b> {{ appointment.phone }}
                {% else %}
                  <div class="hstack" style="font-size: larger;">
                    <b>{{ appointment.time }}</b><br>
                    <div class="ms-auto"><a href="{% url 'book_appointment' appointment.id %}"><i class="bi bi-pencil-square me-1"></i></a> <a href="{% url 'delete_appointment' appointment.id %}"><i class="bi bi-trash"></i></a></div>
                  </div>
                {% endif %}
              </td>
            {% endfor %}
          
        </tbody>
      </table>
  </div>
{% endblock content %}
