{% extends 'edutools_base.html' %}
{% block content %}

  <div class="container mt-5">
    <h5>Termin</h5>
    {% for date in appointment_items %}
    <div class="accordion" id="appointment_{{ forloop.counter }}">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">
            {{ date.0 }}
          </button>
        </h2>
        <div id="collapse_{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#appointment_{{ forloop.counter }}">
          <div class="accordion-body">
              {% for item in date.1 %}
              <a href="{% url 'book_appointment' item.id %}" class="btn btn-primary mb-2" type="button" style="width: 100px;">{{ item.time }}</a>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
{% endblock content %}
