{% extends 'edutools_base.html' %}
{% block content %}


  <div class="container mt-5 pb-5">
    <div class="card">
      <div class="card-header">
        <h3>Termin buchen</h3>
        <h5><b>Datum:</b> {{ form.instance.date }}</h5>
        <h5><b>Zeit:</b> {{ form.instance.time }} Uhr</h5>
      </div>
      <div class="card-body">
        <form method="post" onsubmit="disableSubmitButton(event)"">
          {% csrf_token %}
          {% if alert == "email" %}
            <div class="alert alert-danger">
              Die E-Mail-Adressen stimmen nicht überein.
            </div>
          {% endif %}
          {% if alert == "booked" %}
            <div class="alert alert-danger">
              <b>
                Der Termin wurde in der Zwischenzeit leider schon gebucht. Bitte kehren Sie zur Buchungsseite zurück und wählen Sie einen neuen Termin.<br><br>
                <a href="{% url 'appointment' %}">Zurück zur Buchungsseite</a>
              </b>
            </div>
          {% endif %}
          {{ form.as_p }}
          {% if edit %}
            <button class="btn btn-primary" name="change">Änderung speichern</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Zurück</a>
          {% else %}
            <button class="btn btn-primary" name="book">Termin verbindlich buchen</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

<script>
function disableSubmitButton(event) {
    const button = event.submitter; // The actual clicked submit button
    if (button) {
        button.style.pointerEvents = 'none';
        if (button.name === 'book') {
            button.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Speichern...';
        } else if (button.name === 'change') {
            button.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Änderung speichern und Mail senden...';
        }
    }
    return true; // allow normal form submission
}
</script>

{% endblock content %}
