{% extends 'edutools_base.html' %}
{% block content %}


  <div class="container mt-5 pb-5">
    <div class="card">
      <div class="card-header">
        <h3>Termin buchen</h3>
        <h5><b>Datum:</b> {{ form.instance.date }}</h5>
        <h5><b>Zeit:</b> {{ form.instance.time }} Uhr</h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% if alert == "email" %}
            <div class="alert alert-danger">
              Die E-Mail-Adressen stimmen nicht überein.
            </div>
          {% endif %}
          {% if alert == "booked" %}
            <div class="alert alert-danger">
              <b>
                Der Termin wurde in der Zwischenzeit leider schon gebucht. Bitte kehren Sie zur Buchungsseite zurück und wählen Sie einen neuen Termin.<br><br>
                <a href="{% url 'appointment' %}">Zurück zur Buchungsseite</a>
              </b>
            </div>
          {% endif %}
          {{ form.as_p }}
          {% if edit %}
            <button class="btn btn-primary">Änderung speichern</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Zurück</a>
          {% else %}
            <button class="btn btn-primary">Termin verbindlich buchen</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
