{% extends 'edutools_base.html' %}
{% block content %}

<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="nav justify-content-center nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'appointment' %}">Terminbuchung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'create_appointment' %}">Terminerstellung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment_admin' %}">Terminverwaltung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment_email' %}">E-Mail</a>
        </li>
      </ul>
    </div>
  </div>
</div>

  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h4>Termine anlegen</h4>
        <form method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <label for="date" class="col-sm-3 col-form-label">Datum:</label>
            <div class="col-sm-auto">
              <input type="date" class="form-control" id="date" name="date" required>
            </div>
          </div>  
        
          <div class="row mb-3">
            <label for="start_time" class="col-sm-3 col-form-label">Startzeit:</label>
            <div class="col-sm-auto">
              <input type="time" class="form-control" id="start_time" name="start_time" required>
            </div>
          </div>
        
          <div class="row mb-3">
            <label for="interval" class="col-sm-3 col-form-label">Länge eines Termins in Minuten:</label>
            <div class="col-sm-1">
              <input type="number" class="form-control" id="interval" name="interval" required>
            </div>
          </div>
        
          <div class="row mb-3">
            <label for="number" class="col-sm-3 col-form-label">Anzahl der zu generierenden Termine:</label>
            <div class="col-sm-1">
              <input type="number" class="form-control" id="number" name="number" required>
            </div>
          </div>

          <div class="row mb-3">
            <label for="slots
            " class="col-sm-3 col-form-label">Anzahl der zu generierenden Slots:</label>
            <div class="col-sm-1">
              <input type="number" class="form-control" id="slots" name="slots" required>
            </div>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="visible" name="visible" checked>
            <label class="form-check-label" for="visible">
              Termine sind sichtbar
            </label>
          </div>

          <button class="btn btn-primary">Termine anlegen</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
