{% extends 'edutools_base.html' %}
{% block content %}


  <div class="container mt-5 pb-5">
    <div class="card">
      <div class="card-header">
        <h3>Termin löschen</h3>
        <h5><b>Datum:</b> {{ appointment.date }}</h5>
        <h5><b>Zeit:</b> {{ appointment.time }}</h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="alert alert-danger">
            TERMINDETAILS:<br>
            {% if appointment.student_name %}
            <b>Kind:</b> {{ appointment.student_name }}<br>
            <b>Grundschule:</b> {{ appointment.primary_school }}<br>
            <b>Erz.:</b> {{ appointment.parents_name }}<br>
            <b>E-Mail:</b> {{ appointment.email }}
            {% else %}
            - Termin nicht gebucht -
            {% endif %}
          </div>
          {% if appointment.student_name %}
          <button class="btn btn-warning" name="empty" value="empty"><i class="bi bi-eye"></i> Termin leeren und erneut zur Buchung freigeben</button>
          <button class="btn btn-secondary" name="empty_hide" value="empty_hide"><i class="bi bi-eye-slash-fill"></i> Termin leeren und verstecken</button>
          {% endif %}
          <button class="btn btn-danger" name="delete" value="delete"><i class="bi bi-trash"></i> Termin komplett aus dem Raster löschen</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
