{% extends 'edutools_base.html' %}
{% block content %}

{% if is_admin %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="nav justify-content-center nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'appointment' %}">Terminbuchung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_appointment' %}">Terminerstellung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment_admin' %}">Terminverwaltung</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}

  <div class="container mt-5 pb-5">
    <div class="card">
      <div class="card-header">
        <h3>Buchung erfolgreich</h3>
      </div>
      <div class="card-body">
        <div class="alert alert-success">
          Folgene Informationen erhalten Sie ebenfalls per E-Mail:<br><br>
          {{ text|linebreaksbr|urlize }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
