{% autoescape off %}
Hallo {{ user.get_username }},

du erhältst diese E-Mail, weil du eine Passwortzurücksetzung für dein Konto angefordert hast.
Wenn du dein Passwort zurücksetzen möchtest, klicke bitte auf den folgenden Link oder kopiere
und füge ihn in deinen Browser ein:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Wenn du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren. Dein Passwort wird nicht geändert.

Viele Grüße vom eduTools-Admin
{% endautoescape %}
