{% extends 'edutools_base.html' %}
{% block content %}
<style>
  .print-only {
  display: none !important;
  }

  @media print {
    body {
      background-image: none;
    }
    body > * {
      display: none !important;
    }
    .printable,
    .print-only {
      display: block !important;
    }
    /* Hide all buttons when printing */
    a, button,
    .ms-auto {
      display: none !important;
    }   
  }

</style>
  <div class="container mt-5 printable">
    <div class="row">
      <div class="col-12 d-flex justify-content-end mb-3">
        <button class="btn btn-secondary me-2" onclick="window.print()">
          <i class="bi bi-printer"></i> Drucken
        </button>
        <a href="{% url 'activity' %}" class="btn btn-primary">zurück</a>
      </div>
    </div>
    <h4>Listen für den Tag der offenen Tür</h4>
      <form>
          Block
          <select class="form-select form-select-lg" style="background-color:  rgb(229, 237, 251);" name="block" onchange="this.form.submit()">
          {% for block in blocks %}
            <option value="{{ block.id }}"
              {% if block.id == current_block_id %} selected {% endif %}
              >{{ block }}
            </option>
          {% endfor %}
          </select>
        Angebot
        <select class="form-select form-select-lg" style="background-color:  rgb(229, 237, 251);" name="select_activity" onchange="this.form.submit()">
          <option value="all">Alle Anmeldungen im aktuellen Block</option>
        {% for activity in activities %}
          <option value="{{ activity.id }}"
            {% if activity.id == current_activity.id %} selected {% endif %}
            >{{ activity }}
          </option>
        {% endfor %}
        </select>
      </form>
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kind:</th>
            {% if current_activity == "all" %}
              <th scope="col">Erziehungsberechtigte:</th>
              <th scope="col">Angebote:</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ booking.student_name }}</td>
            {% if current_activity == "all" %}
              <td>{{ booking.parents_name }}</td>
              <td>{{ booking.activity }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock content %}
