{% extends 'buchungstool_base.html' %}
{% block content %}

<h3>Einrichtung der Räume/Standorte</h3>
<div class="alert alert-light" role="alert">
  Innerhalb der Kategorien kannst du die Reihenfolge der Räume/Standorte mit den Auf- und Ab-Buttons festlegen.
</div>
<form method="post">
  {% csrf_token %}
  <table class="table">
    <thead>
      <th>Raum</th>
      <th>Kurzname</th>
      <th>Beschreibung</th>
      <th>iPad-Anzahl</th>
      <th>Kategorie</th>
      <th></th>
      <th></th>
    </thead>
    {{ formset.management_form }}
    {% for form in formset %}
    <tr>
      {% for field in form %}
        {% if forloop.counter < 6 %}
          <td>{{ field }}</td>
        {% else %}
          {{ field }}
        {% endif %}
      {% endfor %}
      <td>
        <span style="white-space: nowrap;">
          {% if not form.is_first_of_category.value %}
            <button class="btn btn-secondary btn-sm" name="up" value="{{ form.position.value }}"><i class="bi bi-arrow-up"></i></button>
          {% endif %}
          {% if not form.is_last_of_category.value %}
            <button class="btn btn-secondary btn-sm" name="down" value="{{ form.position.value }}"><i class="bi bi-arrow-down"></i></button>
          {% endif %}
        </span>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ form.id.value }}"><i class="bi bi-trash3-fill"></i></button>
      
        <!-- Modal -->
        <div class="modal fade" id="deleteModal_{{ form.id.value }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Raum/Standort löschen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Bist du sicher, dass du den Raum/Standort </p>
                <p><strong>"{{ form.room.value }} - {{ form.description.value }}"</strong></p>
                <p>löschen möchtest? Die Support Tickets zum Raum werden ebenfalls gelöscht. 
                  Die Buchungen und Nutzerlisteneinträge bleiben hingengen erhalten und können über das Django-Admin Backend eingesehen werden.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                <button name="delete" value="{{ form.id.value }}" class="btn btn-danger">Löschen</button>
              </div>
            </div>
          </div>
        </div>
      
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td><button class="btn btn-primary btn-sm" name="add" value="add" id="new">+  Hinzufügen</button></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <button type="submit" name="save" value="save" class="btn btn-primary mt-5">Speichern</button>
</form>

{% if new == 1 %}
  <script>
    var element = document.getElementById("new");
    element.scrollIntoView();
  </script>
{% endif %}

{% endblock content %}