{% extends 'edutools_base.html' %}  
{% block content %}

<form method="post">
  {% csrf_token %}
  <div class="row justify-content-center m-0">
    <div class="card shadow" style="width: 800px;">
      <div class="card-body">
        <h4 class="mb-4">Kontoeinstellungen</h4>

            {% if form.errors %} 
              <div class="alert alert-danger">
                {% for field in form %} 
                  {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong><br>
                  {% endfor %} 
                {% endfor %} 
              </div>
            {% endif %}

            {% if success %}
              <div class="alert alert-success">
                Der Benutzername wurde geändert.
              </div>
            {% endif %}


            <div class="mb-3">
              <label class="form-label fw-bold">Kürzel:</label>
              <input type="text" class="form-control-plaintext bg-light" value="{{ user.profile.kuerzel|default:user.username }}" readonly>
            </div>
            <div class="mb-3">
              <label class="form-label fw-bold">E-Mail:</label>
              <input type="email" class="form-control-plaintext bg-light" value="{{ user.email }}" readonly>
            </div>

            <div class="mb-3">
              <label for="id_username" class="form-label fw-bold">Hier kannst du deinen Benutzernamen ändern:</label>
              <div class="input-group">
                <input type="text" name="username" value="{{ form.username.value }}" maxlength="150" autofocus class="form-control" onchange="this.value=this.value.toLowerCase()" required id="id_username">
                <button type="submit" class="btn btn-primary">Speichern</button>
              </div>
            </div>

            <div class="mb-3">
              <label for="id_username" class="form-label fw-bold">Hier kannst du dein Passwort ändern:</label>
              <br>
              <a href="/accounts/password_reset/" class="btn btn-outline-secondary"><i class="bi bi-arrow-right-square">&nbsp;</i> Passwort ändern</a>
            </div>

      </div>
    </div>
  </div>
</form>

{% endblock content %}