<!-- <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        body {
            background-color: #ebebeb;
        }
    </style>
</head> -->

{% extends 'base_userlist.html' %}
{% block content %}

<div class="container">
    <div class="card shadow bg-light mb-4">
        <div class="card-body">
            <h2 class="mb-3">DANKE!</h2>
            <div class="row mb-4">
                <div class="col">
                    Dein/Euer Eintrag wurde in die iPad-Nutzerliste gespeichert. Diese Seite kann nun geschlossen werden.
                    <!-- {{selection.short_name}}: {{selection.stunde}}. Std. {{selection.lerngruppe}} war erfolgreich. -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}