{% extends 'base.html' %}
{% block content %}

<br>

<div class="row justify-content-evenly mt-5">
    <div class="card shadow" style="width: 12rem;">
        {% if active == "1" %}
            <div style="color: #3aa573; text-decoration: none">
        {% else %}
            <a href="{% url 'codes' %}?c=1" style="text-decoration: none">
        {% endif %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-router-fill card-img-top px-4 pt-4" viewBox="0 0 16 16">
                    <path d="M5.525 3.025a3.5 3.5 0 0 1 4.95 0 .5.5 0 1 0 .707-.707 4.5 4.5 0 0 0-6.364 0 .5.5 0 0 0 .707.707Z"/>
                    <path d="M6.94 4.44a1.5 1.5 0 0 1 2.12 0 .5.5 0 0 0 .708-.708 2.5 2.5 0 0 0-3.536 0 .5.5 0 0 0 .707.707Z"/>
                    <path d="M2.974 2.342a.5.5 0 1 0-.948.316L3.806 8H1.5A1.5 1.5 0 0 0 0 9.5v2A1.5 1.5 0 0 0 1.5 13H2a.5.5 0 0 0 .5.5h2A.5.5 0 0 0 5 13h6a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5h.5a1.5 1.5 0 0 0 1.5-1.5v-2A1.5 1.5 0 0 0 14.5 8h-2.306l1.78-5.342a.5.5 0 1 0-.948-.316L11.14 8H4.86L2.974 2.342ZM2.5 11a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm4.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm1.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Z"/>
                    <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                </svg> 
                <div class="card-body pt-0">
                    <h3 class="card-title text-center">1 Stunde</h3>
                    <p class="card-text text-center"><small><small>{{ remaining_1 }}</small></small></p>
                </div>
        {% if active == "1" %}
            </div>
        {% else %}
            </a>
        {% endif %}
    </div>
    <div class="card shadow" style="width: 12rem;">
        {% if active == "2" %}
            <div style="color: #3aa573; text-decoration: none">
        {% else %}
            <a href="{% url 'codes' %}?c=2" style="text-decoration: none">
        {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-router-fill card-img-top px-4 pt-4" viewBox="0 0 16 16">
                <path d="M5.525 3.025a3.5 3.5 0 0 1 4.95 0 .5.5 0 1 0 .707-.707 4.5 4.5 0 0 0-6.364 0 .5.5 0 0 0 .707.707Z"/>
                <path d="M6.94 4.44a1.5 1.5 0 0 1 2.12 0 .5.5 0 0 0 .708-.708 2.5 2.5 0 0 0-3.536 0 .5.5 0 0 0 .707.707Z"/>
                <path d="M2.974 2.342a.5.5 0 1 0-.948.316L3.806 8H1.5A1.5 1.5 0 0 0 0 9.5v2A1.5 1.5 0 0 0 1.5 13H2a.5.5 0 0 0 .5.5h2A.5.5 0 0 0 5 13h6a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5h.5a1.5 1.5 0 0 0 1.5-1.5v-2A1.5 1.5 0 0 0 14.5 8h-2.306l1.78-5.342a.5.5 0 1 0-.948-.316L11.14 8H4.86L2.974 2.342ZM2.5 11a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm4.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm1.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Z"/>
            <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
            </svg> 
            <div class="card-body pt-0">
                <h3 class="card-title text-center">2 Stunden</h3>
                <p class="card-text text-center"><small><small>{{ remaining_2 }}</small></small></p>
            </div>
        {% if active == "2" %}
            </div>
        {% else %}
            </a>
        {% endif %}
    </div>
    <div class="card shadow" style="width: 12rem;">
        {% if active == "3" %}
            <div style="color: #3aa573; text-decoration: none">
        {% else %}
            <a href="{% url 'codes' %}?c=3" style="text-decoration: none">
        {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-router-fill card-img-top px-4 pt-4" viewBox="0 0 16 16">
                <path d="M5.525 3.025a3.5 3.5 0 0 1 4.95 0 .5.5 0 1 0 .707-.707 4.5 4.5 0 0 0-6.364 0 .5.5 0 0 0 .707.707Z"/>
                <path d="M6.94 4.44a1.5 1.5 0 0 1 2.12 0 .5.5 0 0 0 .708-.708 2.5 2.5 0 0 0-3.536 0 .5.5 0 0 0 .707.707Z"/>
                <path d="M2.974 2.342a.5.5 0 1 0-.948.316L3.806 8H1.5A1.5 1.5 0 0 0 0 9.5v2A1.5 1.5 0 0 0 1.5 13H2a.5.5 0 0 0 .5.5h2A.5.5 0 0 0 5 13h6a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5h.5a1.5 1.5 0 0 0 1.5-1.5v-2A1.5 1.5 0 0 0 14.5 8h-2.306l1.78-5.342a.5.5 0 1 0-.948-.316L11.14 8H4.86L2.974 2.342ZM2.5 11a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm4.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm1.5-.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Z"/>
            <path d="M8.5 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
            </svg> 
            <div class="card-body pt-0">
                <h3 class="card-title text-center">1 Tag</h3>
                <p class="card-text text-center"><small><small>{{ remaining_3 }}</small></small></p>
            </div>
        {% if active == "3" %}
            </div>
        {% else %}
            </a>
        {% endif %}
    </div>
</div>

{% if code != 0 %}
    <h1 class="display-1 text-center mt-5" style="font-size: calc(4rem + 4.5vw)">{{ code }}</h1>
    <div class="text-center">
        <small><i>abgerufen: {% now "SHORT_DATETIME_FORMAT" %} Uhr </i> &emsp;<a href="{% url 'codes' %}" class="btn btn-secondary btn-sm"><i class="bi bi-trash3-fill"> </i></a></small>
    </div>
{% endif %}

{% endblock content %}