{% extends 'base.html' %}
{% block content %}
<!-- <style>
tbody td {
  font-size: 90%;
  }
</style> -->

<h1>SII Codes</h1>
<a href="{% url 'student_import' %}" class="btn btn-secondary btn-sm">CSV Import</a>
<a href="{% url 'new_student' %}" class="btn btn-secondary btn-sm">Datensatz manuell hinzufügen</a>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#MailModal">
  E-Mail-Text
</button>

<span class="badge bg-warning ms-3">vorrätige Jahrescodes: {{ remaining_year }}</span>

<!-- Modal -->
<form method="post">
  <div class="modal fade" id="MailModal" tabindex="-1" aria-labelledby="MailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MailModalLabel">E-Mail-Text</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          {{ mail_form }}
          <div class="alert alert-info mt-2">
            <small>
              Platzhalter für den Vornamen: #NAME#<br>
              Platzhalter für den Code: #CODE#
            </small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          <button type="submit" name="save_mail_text" value="save_mail_text" class="btn btn-primary">Speichern</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form>
  <div class="row mt-2 mb-2 mt-4 mb-4">
    <div class="col pe-0">
      {% if search_string %}
        <input class="form-control" name="search" value="{{ search_string }}">
      {% else %}  
        <input class="form-control" placeholder="Suche nach Schülernamen oder Codes" name="search">
      {% endif %}
      </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Suchen</button>
      <a href="{% url 'students' %}" class="btn btn-secondary">&hairsp;<i class="bi bi-x-lg"></i>&hairsp;</a>
      <!-- <button class="btn btn-secondary">X</button> -->
    </div>
  </div>
</form>
{% if alert == 1 %}
  <div class="alert alert-info" role="alert">
    Der Versand der Codes läuft im Hintergrund. Um den Fortschritt hier zu sehen, muss die Seite gelegentlich neu geladen werden.
  </div>
{% endif %}
{% if alert == 2 %}
  <div class="alert alert-danger" role="alert">
    Es sind nicht genügend Codes vorrätig, um diese Aktion auszuführen!
  </div>
{% endif %}
<form method="post">
  {% csrf_token %}
    <button name="checked" value="checked" class="btn btn-primary btn-sm">Neuer Code und Versand <strong>markierte</strong> Datensätze</button>
    <button name="send_all" value="send_all" class="btn btn-primary btn-sm">Neuer Code und Versand für <strong>alle</strong> Datensätze</button>
    <a href="{% url 'delete_student' 'all' %}" class="btn btn-danger btn-sm">Alle Datensätze löschen</a>
  <!-- <table class="table table-bordered border-secondary"> -->
  <table class="table table-hover table-bordered border-secondary table-sm mt-3">
    <thead>
      <th></th>
      <th><a href="/students/">Name</a></th>
      <th>Vorname</th>
      <th>Stufe</th>
      <th>E-Mail</th>
      <th><a href="/students/?sort=date">Ausgabedatum</a></th>
      <th><a href="/students/?sort=code">Code</a></th>
      <th>Aktionen</th>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td class="text-center">
              <input class="form-check-input" name="checkbox" type="checkbox" value="{{ student.id }}" id="{{ student.id }}">
          </td>
          <td>{{ student.name }}</td>
          <td>{{ student.firstname }}</td>
          <td>{{ student.group }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.date|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>{{ student.code }}</td>
          <td>
            <span style="white-space: nowrap;">
              <button name="send" value="{{ student.id }}" class="btn btn-primary btn-sm"><i class="bi bi-tag-fill"></i><i class="bi bi-plus"></i><i class="bi bi-envelope-check-fill"></i></button>
              <a href="{% url 'edit_student' student.id %}" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-fill"></i></a>
              <a href="{% url 'delete_student' student.id %}" name="delete" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></a>
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

{% endblock content %}