{% extends 'edutools_base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Benutzerprofile</h3>
            <a href="{% url 'userprofile_add' %}" class="btn btn-primary float-end">Neues Benutzerprofil</a>
            <a href="{% url 'import_userprofiles' %}" class="btn btn-secondary float-end me-2">Benutzerprofile importieren</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Krzl</th>
                        <th>E-Mail</th>
                        <th>Aktiv</th>
                        <th>Konto erstellt mit Username</th>
                        <th>Admin</th>
                        <th>Gruppen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for userprofile in userprofiles %}
                    <tr onclick="window.location.href='{% url 'userprofile_details' userprofile.id %}'" style="cursor: pointer;">
                        <td>{{ userprofile.abbr }}</td>
                        <td>{{ userprofile.email }}</td>
                        <td>{% if userprofile.user.is_active %} &check; {% endif %}</td>
                        <td>{{ userprofile.user.username }}</td>
                        <td>{% if userprofile.user.is_staff %} &check; {% endif %}</td>
                        <td>
                            {% for group in userprofile.user.groups.all %}
                            {{ group.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
