{% extends 'eduCards/base_educards.html' %}
{% block content %}

<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 900px;">
      <div class="card">
        <div class="card-header">
          <strong>{{ title }}</strong>
          <br><small>Category: {{ category.name }} ({{ category.cards_page.title }})</small>
          {% if card %}
            <br><small>Created: {{ card.created_by }}, {{ card.created|date:"d.m.Y H:i" }}
            {% if card.last_modified_by %}
              <br>Last modified: {{ card.last_modified_by }}, {{ card.last_modified|date:"d.m.Y H:i" }}
            {% endif %}</small>
          {% endif %}
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a href="{% url 'eduCards:cards_page_detail' category.cards_page.id %}" class="btn btn-secondary mt-3">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

