{% extends 'eduCards/base_educards.html' %}
{% load i18n %}
{% block content %}

<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 900px;">
      <div class="card">
        <div class="card-header">
          <strong>{{ title }}</strong>
          <br><small>{% trans "Page" %}: {{ cards_page.title }}</small>
          {% if category %}
            <br><small>{% trans "Created" %}: {{ category.created|date:"d.m.Y H:i" }}
            {% trans "Last modified" %}: {{ category.last_modified|date:"d.m.Y H:i" }}</small>
          {% endif %}
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">{% trans "Save" %}</button>
            <a href="{% url 'eduCards:cards_page_detail' cards_page.id %}" class="btn btn-secondary mt-3">{% trans "Cancel" %}</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
